@using RiotApp.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-6 jumbotron" style="background: rgba(200, 54, 54, 0.7);">
        <section id="loginForm">
                <h4>Log in with existing account.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" onclick="window.location.href='@Url.Action("Index","Challenge")'"/>
                    </div>
                </div>
        </section>
    </div>
    <div class="col-md-6 jumbotron" style="background: rgba(200, 54, 54, 0.7);">
        <section id="socialLoginForm">

            <h4>Create a new account.</h4>
            <hr />
            <div class="form-group col-md-12">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group col-md-12">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class = "col-md-2 control-label" >Confirm Password</label>
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Summoner Name</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", id="summonertext" })
                </div>
            </div>
            <div class="form-group col-md-12">
            <div class="col-md-12 text-primary" style="display:none" id="existsAlready">Summoner with that name already exists</div>
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Register" id="registerbtn" />
                </div>
            </div>
        </section>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('body').css({ "background-image": 'url(' + '@Url.Content("~/Content/Images/600528.png")' + ')' })
    });
    $("#registerbtn").click(function() {
        if ($("#summonertext").val().toLowerCase() == "thepetek") {
            $("#existsAlready").show();
        } else {
            window.location.href = "@Url.Action("Index", "Challenge")";
        }
    });

</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}