@{ ViewBag.Title = "Challenge!"; }

@*<div id="getMasteryInfo" data-url="@Url.Action("GetMasteryInfo", "Riot", new { httproute = "DefaultApi" })"></div>
    <div id="getSummonerInfo" data-url="@Url.Action("GetSummonerInfo", "Riot", new { httproute = "DefaultApi" })"></div>
    <div id="getAllChamps" data-url="@Url.Action("GetAllChamps", "Riot", new { httproute = "DefaultApi" })"></div>
    <div id="getSpecificChamp" data-url="@Url.Action("GetSpecificChamp", "Riot", new { httproute = "DefaultApi" })"></div>*@
<div id="getMasteryInfo" data-url="@Url.Action("GetMasteryInfo", "Riot")"></div>
<div id="getAllMasteryInfo" data-url="@Url.Action("GetAllMasteryInfo", "Riot")"></div>
<div id="getSummonerInfo" data-url="@Url.Action("GetSummonerInfo", "Riot")"></div>
<div id="getAllChamps" data-url="@Url.Action("GetAllChamps", "Riot")"></div>
<div id="getSpecificChamp" data-url="@Url.Action("GetSpecificChamp", "Riot")"></div>
<div id="submitChallenge" data-url="@Url.Action("Submit", "Challenge")"></div>
<div id="getChallenges" data-url="@Url.Action("GetChallenges", "Challenge")"></div>
<div id="loginSummonerId" data-id="19320017"></div>

<div class="row">
    <div id="summonerSearch">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h2>Summoner Search</h2>
                        <form id="summonerSearchForm">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="search" id="summonerSearchText" style="color: black" class="form-control" />
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="submit" id="summonerSearchSubmit" value="Search" class="btn-info form-control" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h2>View My Challenges</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="submit" id="viewChallenges" value="View" class="btn-success form-control" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron" style="display: none" id="searchAndChallenge">
    <div class="row" id="searchResult" style="display: none">
        <div style="margin-top: 10px"></div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h2>Summoner Info</h2>
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <h4>Summoner Name</h4>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <h4>Summoner Level</h4>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <h4>Best Champion</h4>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <h4>Total Mastery Points Earned</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <p id="summonerName"></p>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <p id="summonerLevel"></p>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <p id="bestChampion"></p>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <p id="totalMasteryPoints"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="champions" style="display: none">
        <div style="margin-top: 10px"></div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h2>Select a Champion</h2>
        </div>
        <div id="championsList"></div>
    </div>
    <div class="row" id="masteries" style="display: none">
        <div style="margin-top: 10px"></div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h2>Champion Mastery Info</h2>
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h4>Champion</h4>
                    <p id="championName"></p>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h4>Mastery Level</h4>
                    <p id="championLevel"></p>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h4>Mastery Points</h4>
                    <p id="championPoints"></p>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h4>Last Played Date</h4>
                    <p id="lastPlayTime"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <input type="submit" id="challengeButton" value="Challenge!" class="btn-warning form-control"/>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <input type="submit" id="backToChampionsList1" value="Back To Champions" class="btn-primary form-control"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="challenge" style="display: none">
        <div style="margin-top: 10px"></div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h2 id="challengeSummonerName"></h2>
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h4>End Date</h4>
                    <input type="text" class="datepicker form-control" id="challengeEndDate" style="color: black" value="@DateTime.Now.AddDays(3).ToShortDateString()"/>
                </div>
                @*<div class="col-md-3 col-sm-3 col-xs-12">
                    <h4>Mastery Points</h4>
                    <input type="text" id="challengePoints" style="color: black" value="2500" class="form-control"/>
                </div>*@
            </div>
            <div style="margin-top: 10px"></div>
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <input type="submit" id="challengeConfirmButton" value="" class="btn-danger form-control"/>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <input type="submit" id="backToChampionsList2" value="Back To Champions" class="btn-primary form-control"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="viewAllChallenges" class="jumbotron" style="display: none">
    <div class="row">
        <div style="margin-top: 10px"></div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h2>My Challenges</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-3">
                            <h4>Opponent</h4>
                        </div>
                        <div class="col-md-3">
                            <h4>Champion</h4>
                        </div>
                        <div class="col-md-3">
                            <h4>Status</h4>
                        </div>
                        <div class="col-md-3">
                            <h4>Start Date</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-3">
                            <h4>End Date</h4>
                        </div>
                        <div class="col-md-3">
                            <h4>Your Points Earned</h4>
                        </div>
                        <div class="col-md-3">
                            <h4>Opponent's Points Earned</h4>
                        </div>
                        <div class="col-md-3">
                            <h4>Rematch</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div id="challengesList"></div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/challenge.js"></script>
}